<footer>
  <div class="container">
    <p>&copy; <%= new Date().getFullYear() %> DevSecOps-PFA. All Rights Reserved.</p>
    <p><a href="/about">Learn more about this project</a></p>
  </div>
</footer>
